{% extends "base.html" %}


{% block title %}
    Category List
{% endblock title %}

{% block content %}
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for data in category %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
